*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    text-align: justify;
}
body{
    background-color: rgb(5, 136, 103);
    color: bisque;
}
img{
    height: 700px;
    text-align: right;
}