*{
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(124, 194, 182);
    color: bisque;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100%;
}

.logo{
    position: relative;
    font-size: 25px;
    color: bisque;
    text-decoration: none;
    font-weight: 600;
}
.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(124, 194, 182);
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.navbar a{
    font-size: 18px;
    color: bisque;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: rgb(12, 72, 141);
}

.home{
    height:100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-cont{
    max-width: 600px;
}
.home-cont h1{
    position: relative;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
}
.home-cont h1::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(124, 194, 182);
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}
.home-cont h3{
    position: relative;
    font-size: 30px;
    font-weight: 400;
    color: rgb(87, 111, 245);
}
.home-cont h3::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(124, 194, 182);
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
}
.home-cont p{
    position: relative;
    font-size: 20px;
    margin: 20px 0 40px;
}
.home-cont p::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(124, 194, 182);
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}
.home-cont .button-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}
.home-cont .button-box::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(2, 121, 95);
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
    z-index: 2;
}

.button-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: rgb(2, 121, 95);
    border: 2px solid rgb(2, 121, 95);
    border-radius: 8px;
    font-size: 19px;
    color: rgb(124, 194, 182);
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.button-box a:hover{
    color: rgb(2, 121, 95);
}

.button-box a:nth-child(2){
    background: transparent;
    color: rgb(2, 121, 95);
}
.button-box a:nth-child(2):hover{
    color: rgb(124, 194, 182);
}
.button-box a:nth-child(2)::before{
    background: rgb(2, 121, 95);
}

.button-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(124, 194, 182);
    z-index: -1;
    transition: .5s;
}
.button-box a:hover::before{
    width: 100%;
}

.home-info{
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}
.home-info a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid rgb(2, 121, 95);
    border-radius:50%;
    font-size: 20px;
    color:rgb(2, 121, 95);
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
}
.home-info a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(2, 121, 95);
    z-index: -1;
    transition: .5s;
}
.home-info a:hover::before{
    width: 100%;
}
img{
    height: 500px;
    width: 500px;
}

@keyframes showRight{
    100%{
        width:0;
    }
}