
body{
    height: 100vh;
    background: linear-gradient(
        to right,
        rgb(52, 105, 221) 0%,
        rgb(151, 187, 233) 50%,
        rgb(184, 146, 233) 50%,
        rgb(103, 48, 175) 100%
    );
}
.middle1{
    font-style: italic;
    font-size: 45px;
    font-variant: small-caps;
    text-align: center;
    color: rgb(0, 0, 0);

}

.middle{
    font-style:oblique;
    text-align: center;
    font-size: 20px;
    color:rgb(0, 0, 0);
}

img{
    border: 3px solid;
    height: 300px;
    width: 300px;
    
}

